*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

input,
button {
  font: inherit;
}

.multi-step-form {
    margin: 1em 0;
}

.step {
    max-width: 350px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 1em;
    border-radius: 4px;
}

.field-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 1em;
}

.step__btns {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 2px 12px;
}

.step {
    display: none;
}

.active {
    display: block;
}